aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
chardet==3.0.4
idna==2.10
jedi==0.17.1
multidict==4.7.6
parso==0.7.0
pkg-resources==0.0.0
twitchio==1.1.0
vboxapi==1.0
virtualbox==2.0.0
websockets==8.1
yarl==1.4.2
